*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
}
nav .logo{
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 65px;
  padding-left: 110px;
}
nav{
  height: 65px;
  background: #063247;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 20px;
  line-height: 55px;
  font-size: 10px;
  background: #063247;
  transition: .5s;
}
img.a {
  vertical-align: baseline;
}
div{
    margin-left: 100;
}


